{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="row mt-4">

    {% for product in products %}
    <div class="col-4">
        <div class="card mb-3">
            <div class="container card-body">
                <div class="row">
                    <h5 class="card-title col-10">{{product.name}}</h5>
                    {% if is_granted('ROLE_ADMIN')%}
                    <div class="col-1">
                        <a href="{{ path('admin_updateProduct',{'productId':product.id})}}">
                            <i class="fas fa-tasks"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
                <p class="card-text">{{product.description}}</p>
                <a href="{{ path('product_show',{'productId':product.id})}}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}