{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<h2 class = "mb-5">{{product.name}}</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
Voluptates facere atque est voluptatem cumque esse dolorem quos praesentium aliquid minus amet delectus earum, 
doloremque recusandae corrupti, id unde ex maiores?</p>

{% endblock %}
